<%- include('partials/header') %>

<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">404!</h4>
  <p>Page Not Found!</p>
  <hr />
  <p class="mb-0">This Page is missing or may be it's removed!</p>
  <p class="mb-0">Please Contact our Tech Team for more details!</p>
</div>

<%- include('partials/footer') %>
